<h1>Buscar Recetas</h1>

<!-- Formulario de búsqueda -->
<form action="/recetas/buscarReceta" method="GET">
   
    <!-- añadido (value="<%= termino || '' %>) para que recuerde la opcion seleccionada-->
    <input type="text" name="termino" placeholder="Buscar recetas o ingredientes..." value="<%= termino || '' %>" required>
    
    <!-- añadido (<%= (tipo === 'nombre' || !tipo) ? 'selected' : '' %>) para que recuerde la opcion seleccionada-->
    <select name="tipo">
        <option value="nombre"  <%= (tipo === 'nombre' || !tipo) ? 'selected' : '' %>> Recetas</option>
        <option value="ingrediente" <%= tipo === 'ingrediente' ? 'selected' : '' %>>Ingredientes</option>
    </select>

    <!-- Opciones de ordenamiento -->
    <select name="orden">
        <!--
        <option value="relevancia" selected>Relevancia</option>
        <option value="valoraciones">Valoraciones</option>
        <option value="dificultad">Dificultad</option>
        <option value="tiempo">Tiempo</option>
        -->
        
        <!-- Cambios para que recuerde la opcion selecionada -->
        <option value="relevancia" <%= (orden === 'relevancia' || !orden) ? 'selected' : '' %>>Relevancia</option>
        <option value="valoraciones" <%= orden === 'valoraciones' ? 'selected' : '' %>>Valoraciones</option>
        <option value="dificultad" <%= orden === 'dificultad' ? 'selected' : '' %>>Dificultad</option>
        <option value="tiempo" <%= orden === 'tiempo' ? 'selected' : '' %>>Tiempo</option>
        
    </select>

    <button type="submit">Buscar</button>
</form>


<!-- Mostrar mensaje de error si no hay resultados -->
<% if (error) { %>
    <p style="color: red;"><%= error %></p>
<% } %>

<h2>Resultados para "<%= termino %>"</h2>
<ul>
    <% if (recetas.length > 0) { %>
        <% recetas.forEach(receta => { %>
            <!-- <li><a href="/receta?id=<%= receta.id %>"><%= receta.nombre %></a></li>-->
            <li><a href="/recetas/receta?id=<%= receta.id %>"><%= receta.nombre %></a></li>

        <% }); %>
    <% } else if (termino && !error) { %>
        <p>No se encontraron recetas para "<%= termino %>"</p>
    <% } %>
</ul>



<!-- Codigo anterior 
<select name="orden">
    <option value="relevancia" selected>Relevancia</option>
    <option value="valoraciones">Valoraciones</option>
    <option value="dificultad">Dificultad</option>
    <option value="tiempo">Tiempo</option>
</select>
<h1>Búsqueda de ingredientes</h1>
<h1>Búsqueda de Recetas</h1>
-->
