<h1>Mi Calendario Semanal</h1>

<section id="calendario">
    <% let diasSemana = ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"]; %>
    <% let hoy = new Date(inicioSemana); %>

    <% diasSemana.forEach((dia, i) => { 
        let fecha = new Date(hoy);
        fecha.setDate(hoy.getDate() + i);
        let fechaStr = fecha.toISOString().split('T')[0];
        
        <!--Filtramos las recetas de ese día-->
        let recetasDelDia = recetasSemana.filter(r => r.fecha === fechaStr);
    %>
        <div>
            <h3><%= dia %> (<%= fechaStr %>)</h3>

            <% if (recetasDelDia.length > 0) { %>
                <ul>
                    <% recetasDelDia.forEach(r => { %>
                        <li><%= r.nombre %></li>
                    <% }) %>
                </ul>
                
                <form action="/usuarios/calendario/eliminar" method="POST">
                    <input type="hidden" name="origen" value="calendario" />
                    <input type="hidden" name="fecha" value="<%= fechaStr %>" />
                    <button>Eliminar Receta</button>
                </form>
                
            <% } else { %>
                <p>No hay recetas asignadas para este día.</p>

                <form action="/recetas/catalogo" method="GET">
                    <input type="hidden" name="origen" value="calendario" />
                    <input type="hidden" name="fecha" value="<%= fechaStr %>" />
                    <button>Añadir Receta</button>
                </form>
            <% } %>

            
        </div>
    <% }); %>
    
</section>
