<h1>Cat치logo</h1>
<% if (session.esAdmin) { %>
    <a href="/recetas/receta/aniadir"><button>A침adir receta</button></a>
<% } %>

<div id="catalogo" class="cards_container">
    <% recetas.forEach(receta=> { %>
        <article class="card">
            <img src=<%= receta.imagen_url %> alt="Pronto habr치 una foto" />
            <p></p>
            <a href="receta/?id=<%= receta.id %>">
                <h4><%= receta.nombre %></h4>
            </a>
            <p>Tiempo preparaci칩n: <%= Math.floor(receta.tiempo_prep_segs / 60) %> minutos</p>
            <p>Dificultad: <%= receta.dificultad %></p>
         </article>
        <% }) %>
</div>