<h1>Catálogo</h1>
<% if (session.esAdmin) { %>
    <a href="/recetas/receta/aniadir"><button>Añadir receta</button></a>
<% } %>

<div id="catalogo" class="cards_container">
    <% recetas.forEach(receta=> { %>
        <article class="card">
            <img src=<%= receta.imagen_url %> alt="Pronto habrá una foto" />
            <p></p>
            <a href="receta/?id=<%= receta.id %>">
                <h4><%= receta.nombre %></h4>
            </a>
            <p>Tiempo preparación: <%= Math.floor(receta.tiempo_prep_segs / 60) %> minutos</p>
            <p>Dificultad: <%= receta.dificultad %></p>
            
            <% if (esDesdeCalendario) { %>
                <a href="/algo/calendario"> 
                    <button class="anadir-receta-calendario">Añadir receta al calendario</button>
                </a>
            <% } %>
        </article>
        <% }) %>
</div>