<form id="editar-receta" action="/recetas/receta/modificar?id=<%= recetas.id %>" method="POST"
    enctype="multipart/form-data">
    <div class="form-header">
        <h2>Editar Receta</h2>
    </div>
    <label>Nombre:</label> <input type="text" name="nombre" value="<%= recetas.nombre %>" />
    <label>Tiempo de preparación (min):</label> <input type="number" name="tiempo_prep_segs"
        value="<%= Math.floor(recetas.tiempo_prep_segs / 60) %>" />
    <label>Dificultad (1 a 5):</label> <input type="number" name="dificultad" value="<%= recetas.dificultad %>" />
    <label>Descripción:</label> <textarea name="descripcion"><%= recetas.descripcion %></textarea>
    <div>
        <label for="inputImagen">Foto (No subir nada para mantener la fotografía actual):</label>
        <input type="file" name="foto" id="inputImagen">
    </div>

    <div class="ingredientes-section">
        <h3>Ingredientes:</h3>
        <% if (listaIngredientes && listaIngredientes.length> 0) { %>
            <ul>
                <% listaIngredientes.forEach(ingrediente=> { %>
                    <% const ingredienteEnReceta=recetas.ingredientes.find(ing=> ing.id_ingrediente === ingrediente.id);
                        const cantidadActual = ingredienteEnReceta ? ingredienteEnReceta.cantidad : 0;
                        %>
                        <li>
                            <label for="ing-<%= ingrediente.id %>">
                                <%= ingrediente.nombre %>
                            </label>
                            <input type="number" id="ing-<%= ingrediente.id %>"
                                name="ingredientes[<%= ingrediente.id %>]" value="<%= cantidadActual %>" min="0" />
                            <label for="ing-<%= ingrediente.id %>">
                                <%= ingrediente.unidad_medida %>
                            </label>
                        </li>
                        <% }) %>
            </ul>
            <% } else { %>
                <p>No hay ingredientes disponibles.</p>
                <% } %>
    </div>

    <button type="submit">Guardar cambios</button>
</form>