<h1>Descubre nuevas recetas</h1>
<div id="catalogo" class="cards_container">
    <% if (ultimasRecetas && ultimasRecetas.length > 0) { %>
        <% ultimasRecetas.forEach(receta => { %>
            <article class="card">
                <img src=<%= receta.imagen_url %> alt="Pronto habrá una foto"  />
                <p></p>
                <a href="/recetas/receta?id=<%= receta.id %>">
                    <h4><%= receta.nombre %></h4>
                </a>
                <p>Tiempo preparación: <%= Math.floor(receta.tiempo_prep_segs / 60) %> minutos</p>
                <p>Dificultad: <%= receta.dificultad %></p>
            </article>
        <% }); %>
    <% } else { %>
        <p>No hay recetas disponibles</p>
    <% } %>
</div>

<h1>Receta del día</h1>
<div id="catalogo" class="cards_container">
    <% if (recetaDelDia) { %>
        <article class="card">
            <img src=<%= recetaDelDia.imagen_url %> alt="Pronto habrá una foto"  />
            <p></p>
            <a href="/recetas/receta?id=<%= recetaDelDia.id %>">
                <h4><%= recetaDelDia.nombre %></h4>
            </a>
            <p>Tiempo preparación: <%= Math.floor(recetaDelDia.tiempo_prep_segs / 60) %> minutos</p>
            <p>Dificultad: <%= recetaDelDia.dificultad %></p>
        </article>
    <% } else { %>
        <p>No hay receta del día disponible</p>
    <% } %>
</div>

<h1>Realiza tu compra</h1>
<div id="catalogo" class="cards_container_tall">
    <% if (ultimosIngredientes && ultimosIngredientes.length > 0) { %>
        <% ultimosIngredientes.forEach(ingrediente => { %>
            <article class="card">
                <img src=<%= ingrediente.imagen_url %> alt="Pronto habrá una foto"  />
                <p></p>
                <a href="/ingredientes/ingrediente?id=<%= ingrediente.id %>">
                    <h4><%= ingrediente.nombre %></h4>
                </a>  
                <p>Precio: <%= ingrediente.precio %> €</p>  
            </article>
        <% }); %>
    <% } else { %>
        <p>No hay ingredientes disponibles</p>
    <% } %>
</div>