<h1><%= ingredientes.nombre %></h1>

<p>Categoría: <%= ingredientes.categoria %></p>
<p>Precio: <%= ingredientes.precio %></p>
<p>Stock: <%= ingredientes.stock %></p>
<p></p>
<% if (session.esAdmin) { %>
    <form><a href="/recetas/ingredienteInd/modificar?id=<%= ingredientes.id %>"><button>Editar ingrediente</button></a></form>
    <form><a href="/recetas/ingredienteInd/eliminar?id=<%= ingredientes.id %>"><button>Eliminar ingrediente</button></a></form>
<% } %>


<form action="/recetas/ingredienteInd/aniadirCarritoIng" method="POST">
    <input type="hidden" name="id" value="<%= ingredientes.id %>">
    <button type="submit">Añadir al carrito</button>
</form>