<h1>Mi perfil</h1>
<div class="profile-container">
    <div class="profile-info">
        <p><strong>Usuario:</strong> <%= usuario.username %></p>
        <p><strong>Nombre:</strong> <%= usuario.nombre %></p>
        <p><strong>Apellido:</strong> <%= usuario.apellido %></p>
        <p><strong>Correo:</strong> <%= usuario.correo %></p>
        <p><strong>Dirección:</strong> <%= usuario.direccion %></p>
        <p><strong>Tipo de usuario:</strong> 
            <% if (usuario.rol === 'A') { %>
                Administrador
            <% } else if (usuario.rol === 'C') { %>
                Cocinero
            <% } else { %>
                Usuario Estándar
            <% } %>
        </p>
    </div>
    <div class="profile-actions">
        <a href="/usuarios/perfil/modificar?id=<%= usuario.id %>" class="btn btn-edit">Editar perfil</a>
        <a href="/usuarios/perfil/eliminar?id=<%= usuario.id %>" class="btn btn-delete">Eliminar cuenta</a>
    </div>
</div>