<h1><%= recetas.nombre %></h1>

<p>Tiempo de preparación: <%= Math.floor(recetas.tiempo_prep_segs/60)%> minutos</p>
<p>Difilcultad: <% for(let i = 0; i < recetas.dificultad; i++){%>&#127775;<% } %></p>
<p><%= recetas.descripcion %></p>
<p></p>
<p>Ingredientes:</p>
<ul>
    <% if (recetas.ingredientes) { %>
        <% recetas.ingredientes.forEach(function(ingrediente) { %>
            <li><%= ingrediente.nombre %> - <%= ingrediente.cantidad_esp %> gr.</li>
        <% }); %>
    <% } else { %>
        <li>No se encontraron ingredientes.</li>
    <% } %>
</ul>
<% if (session.esAdmin) { %>
    <a href="/recetas/receta/modificar?id=<%= recetas.id %>"><button>Editar receta</button></a>
    <a href="/recetas/receta/eliminar?id=<%= recetas.id %>"><button>Eliminar receta</button></a>
<% } %>

<form action="/recetas/receta/aniadirCarritoReceta" method="POST">
    <input type="hidden" name="id" value="<%= recetas.id %>">
    <button type="submit">Añadir al carrito</button>
</form>