<h1>¡Bienvenido a CookingLab!</h1>

<form action="/usuarios/register" method="POST">
<fieldset>
	<% if (locals.error) { %>
		<p><strong><%= locals.error %></strong></p>
	<% } %>
	<legend>Introduce tus datos</legend>
	<div><label>Usuario:</label> <input type="text" name="username" /><%- helpers.error(errores, 'username') %></div>
	<div><label>Contraseña:</label> <input type="password" name="password" /><%- helpers.error(errores, 'password') %></div>
    <div><label>Nombre:</label> <input type="text" name="nombre" /><%- helpers.error(errores, 'nombre') %></div>
    <div><label>Apellido:</label> <input type="text" name="apellido" /><%- helpers.error(errores, 'apellido') %></div>
    <div><label>Mail:</label> <input type="text" name="correo" /><%- helpers.error(errores, 'correo') %></div>
    <div><label>Dirección:</label> <input type="text" name="direccion" /><%- helpers.error(errores, 'direccion') %></div>

	<button type="submit">Enviar</button>
</fieldset>